name: Docker
on:

  #  Only run on tag updates or manually
  #
  push:
    # Publish semver tags as releases.
    branches: [ 'development' ]
  workflow_dispatch:


env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  # shared description labels
  #
  LABEL_TITLE: "WebDyne"
  LABEL_DESCRIPTION: "WebDyne is a Perl based dynamic HTML engine"
  LABEL_LICENSE: "Artistic-1.0-Perl"


jobs:

  build-variants:

    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write  # Required to push to GHCR
      #id-token: write

    strategy:
      matrix:
        variant: [alpine]
        platform: [ linux/amd64 ]
    steps:

        #  Checkout repo to start build
        #
      - name: Checkout repository
        uses: actions/checkout@v4


        #  Apparently need QEMU for some reason even though using Buildx
        #    
      - name: Set up QEMU
        if: false
        uses: docker/setup-qemu-action@v3
      

        #  Setup BuildX
        #
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        

        # Login against a Docker registry except on PR
        # https://github.com/docker/login-action
      - name: Log in to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          #password: ${{ secrets.GHCR_PAT }}
          password: ${{ secrets.token }}
          
        
      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934 # v5.0.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
          tags: |
            type=raw,value=${{ github.ref_name }}
            type=raw,prefix=${{ matrix.variant }}-,value=${{ github.ref_name }}
            type=sha,prefix=${{ matrix.variant }}-
          labels: |
            org.opencontainers.image.title=${{ env.LABEL_TITLE }}
            org.opencontainers.image.description=${{ env.LABEL_DESCRIPTION }}
            org.opencontainers.image.license=${{ env.LABEL_LICENSE }}
            org.opencontainers.image.created=${{ github.event.head_commit.timestamp }}
            
      #  Debug
      #
      - name: Debug
        run: |
            echo "branch:${{ github.ref_name }}"
            echo "tags: ${{ steps.meta.outputs.tags }}"
            echo "labels: ${{ steps.meta.outputs.labels }}"


      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.${{ matrix.variant }}-${{ github.ref_name }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=${{ env.LABEL_DESCRIPTION }}
          #annotations: |
          #    ${{ steps.meta.outputs.labels }}
          #annotations: |
          #    org.opencontainers.image.description=Simple self-contained WebDyne demonstration application 
          cache-to: type=gha,mode=max
          platforms: ${{ matrix.platform }}
          
        
