name: Cleanup
on:
  schedule:
    - cron: "0 3 * * 0"
  workflow_dispatch:

permissions:
  packages: write
  contents: read

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Run retention action
        uses: snok/container-retention-policy@v3.0.0
        with:
          image-names: webdyne
          cut-off: 30 days ago UTC
          keep-n-most-recent: 64
          account: user
          token: ${{ secrets.GHCR_PAT }}   # or GITHUB_TOKEN if appropriate
